In [23]:
import pandas as pd
from string import ascii_uppercase as alphabet

In [4]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [39]:
all_tables[9]
all_tables[16]
all_tables[23]
all_tables[30]
all_tables[37]
all_tables[44]
all_tables[51]
all_tables[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [68]:
all_tables[58].columns

Index(['Pos', 'Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Qualification'],
      dtype='object')

In [57]:
dict_table = {}

for letter,i in zip(alphabet,range(9,65,7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    dict_table[f'Group {letter}'] = df

In [53]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [61]:
dict_table['Group C']

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Argentina,3,2,0,1,5,2,+3,6,Advanced to knockout stage
1,2,Poland,3,1,1,1,2,2,0,4,Advanced to knockout stage
2,3,Mexico,3,1,1,1,2,3,−1,4,NaN
3,4,Saudi Arabia,3,1,0,2,3,5,−2,3,NaN